---
import { getMovieByID, getTrailerByID } from '../../api/api'
import MovieDescription from '../../components/MovieDescription.astro'
import MovieGenresList from '../../components/MovieGenresList.astro'
import MovieHeaderBackground from '../../components/MovieHeaderBackground.astro'
import MovieTitle from '../../components/MovieTitle.astro'
import MovieVotes from '../../components/MovieVotes.astro'
import LayoutDetail from '../../layouts/LayoutDetail.astro'
import LiteYouTubeEmbed from 'react-lite-youtube-embed'
import 'react-lite-youtube-embed/dist/LiteYouTubeEmbed.css'
import MovieGridInfo from '../../components/MovieGridInfo.astro'

const { id } = Astro.params
const movie = await getMovieByID(id!)
const trailer = await getTrailerByID(id!)
---

<LayoutDetail title={movie.original_title}>
  <MovieHeaderBackground movie={movie}>
    <MovieTitle movie={movie} />
    <MovieGenresList movie={movie} />
    <MovieGridInfo movie={movie} />
  </MovieHeaderBackground>
  <div class='container mx-auto flex flex-col gap-4 max-w-screen-lg px-4'>
    <section class='flex flex-col md:flex-row gap-12 py-8 w-full'>
      <MovieDescription movie={movie} />
      <MovieVotes movie={movie} />
    </section>
    <section class='rounded-lg overflow-hidden'>
      {
        trailer && (
          <LiteYouTubeEmbed
            client:load
            id={trailer?.trailerID}
            title={trailer?.name}
          />
        )
      }
    </section>
  </div>
</LayoutDetail>
